AI_SERVICE_HOST=0.0.0.0
AI_SERVICE_PORT=8000
OPENAI_API_KEY=your_openai_api_key_here
WEATHER_API_KEY=your_weather_api_key_here
WEATHER_BASE_URL=https://api.openweathermap.org/data/2.5/weather
ALERT_CRON=*/30 * * * *
